body {
    font-family: Roboto, "Helvetica Neue", Arial, Helvetica, sans-serif;
}

a {
    color: $color-blue-700;

    &:hover,
    &:focus {
        text-decoration: none;
    }

    &:active {
        color: $color-blue-900;
    }
}

label {
    display: block;
    max-width: 100%;
    margin-bottom: 5px;
}

input[type="search"] {
    @include box-sizing(border-box);
}

.form-control {
    display: inline-block;
    vertical-align: middle;
    padding: 0.6em;
    font-size: inherit;
    line-height: inherit;
    border-radius: 0.2em;
    color: #333;
    background-image: none;
    border: 1px solid #ccc;
    box-shadow: inset 0 1px 1px rgba(0,0,0,.075);

    &[disabled],
    &[readonly] {
        background-color: #ddd;
        opacity: 1;
    }

    &[disabled],
    fieldset[disabled] & {
        cursor: not-allowed;
    }
}

.button {
    display: inline-block;
    vertical-align: middle;
    text-align: center;
    touch-action: manipulation;
    cursor: pointer;
    background-image: none;
    border: 1px solid #ccc;
    white-space: nowrap;
    padding: 0.6em 1.2em;
    font-size: inherit;
    line-height: inherit;
    border-radius: 0.2em;

    color: #333;
    background-color: #fff;
    border-color: #ccc;

    &:hover,
    &:focus {
        color: #333;
        background-color: darken(#fff, 10%);
        border-color: darken(#ccc, 12%);
        text-decoration: none;
    }

    &:active {
        outline: 0;
        background-image: none;
        box-shadow: inset 0 3px 5px rgba(0,0,0,.125);
    }

    &.disabled,
    &[disabled] {
        cursor: not-allowed;
        pointer-events: none;
        opacity: 0.65;
        box-shadow: none;
    }
}

.button--primary {
    color: #fff;
    background-color: $color-blue-500;
    border-color: $color-blue-700;

    &:hover,
    &:focus {
        color: #fff;
        background-color: darken($color-blue-500, 10%);
        border-color: darken($color-blue-700, 12%);
    }
}