<% if current_user %>

  <% if @countries.any? %>
      <% @countries.each do |country| %>
        <%= erb :country, locals: { country: country } %>
      <% end %>
    <div class="country country--new">
        <h2>Create a new country</h2>
        <%= erb :new_country_form %>
    </div>
  <% else %>
    <div class="country country--new">
        <h2>Create your first country</h2>
        <%= erb :new_country_form %>
    </div>
  <% end %>

<% else %>

    <p class="login-prompt">
        <a href="<%= url '/auth/twitter' %>">Log in with Twitter</a>
        to create your first country.
    </p>

<% end %>
