<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="">
    <meta name="author" content="">
    <title>SeePoliticiansTweet</title>
    <link rel="stylesheet" type="text/css" href="/main.css">
  </head>
  <body>
    <%= erb :flash %>
    <%= erb :user_bar %>
    <%= yield %>
  </body>
</html>
