<div class="country">
    <h2>New submission for <%= submission[:name] %></h2>
    <ul>
        <li>Person: <%= submission[:person_id] %></li>
        <li>Twitter: <%= submission[:twitter] %></li>
    </ul>
    <form action="<%= url "/submissions/#{submission[:id]}/moderate" %>" method="post">
        <input type="submit" name="action" value="accept">
        <input type="submit" name="action" value="reject">
    </form>
</div>
