<ul>
    <li>Person: <%= submission.person_id %></li>
    <li>Twitter: <%= submission.twitter %></li>
</ul>
<form action="<%= url "/submissions/#{submission.id}/moderate" %>" method="post">
    <input class="button button--primary" type="submit" name="action" value="accept">
    <input class="button button--secondary" type="submit" name="action" value="reject">
</form>
