$desktop-header-width: 15em;
$desktop-nav-width: 18em;
$desktop-timeline-width: 30em;
$desktop-people-width: 15em;

$tablet-nav-width: 15em;
$tablet-people-width: 12em;

$phablet-header-height: 3em;
$phablet-nav-height: 6em;

html, body {
    // Set a sizing context for children of body
    // eg: so they can stretch to full window height.
    width: 100%;
    height: 100%;
    position: relative;
}

*, *:before, *:after {
    @include box-sizing(border-box);
}

.site-header {
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    width: $desktop-header-width;
    @include touch-friendly-scrolling();
}

.area-list {
    position: absolute;
    top: 0;
    bottom: 0;
    left: $desktop-header-width;
    width: $desktop-nav-width;
    @include touch-friendly-scrolling();
}

.site-content {
    display: block;
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    height: 100%;
    left: $desktop-header-width + $desktop-nav-width;
    @include touch-friendly-scrolling();
}

.site-content__tweets {
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: $desktop-people-width;
    height: 100%;
}

.site-content__people {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    width: $desktop-people-width;
    @include touch-friendly-scrolling();
}

.twitter-timeline {
    height: 100% !important;
    display: block !important;
}

iframe.twitter-timeline[data-widget-id] + .twitter-timeline {
  // There's a split second where the iframe and the placeholder link
  // both exist in the DOM at the same time, while the twitter widget is
  // in the process of loading. This is the gap between the iframe being
  // given a "data-widget-id" attribute, and the placeholder element
  // being hidden. So, we hide the placeholder with CSS here, to avoid
  // a scrollbar being shown (because of two 100% height elements).
  display: none !important;
}

@media (min-width: $increment * 1024) {
  // On browsers that support CSS calc() we stretch the people list
  // to fill the space to the right of the twitter timeline.

  .site-content__tweets {
    // We use calc here as a no-op, just so that the max-width
    // is ignored by any browsers that don't support calc().
    max-width: calc(0em + #{$desktop-timeline-width});
  }

  .site-content__people {
    // Width is whatever's left of the parent width after the
    // timeline has been put in.
    width: calc(100% - #{$desktop-timeline-width});
    // Another calc() no-op, to stop min-width being applied
    // by browsers that don't support the calc() width above.
    min-width: calc(0em + #{$desktop-people-width});
  }
}

@media (max-width: $increment * 1023) {
  .site-header {
    width: $tablet-nav-width;
    bottom: 50%;
  }

  .area-list {
    left: 0;
    top: 50%;
    width: $tablet-nav-width;
  }

  .site-content {
    left: $tablet-nav-width;
  }

  .site-content__tweets {
    right: $tablet-people-width;
  }

  .site-content__people {
    width: $tablet-people-width;
  }
}

@media (max-width: $increment * 699) {
  .site-header {
    width: 100%;
    height: $phablet-header-height;
  }

  .area-list {
    width: 100%;
    top: $phablet-header-height;
    height: $phablet-nav-height;
  }

  .site-content {
    top: $phablet-header-height + $phablet-nav-height;
    left: 0;
    height: auto;
  }
}

@media (max-width: $increment * 499) {
  .site-content__tweets {
    right: 0;
  }

  .site-content__people {
    display: none;
  }
}
