---
layout: default
---
<div class="site-content">
    <div class="site-content__tweets">
        <a class="twitter-timeline"
          data-dnt="true"
          data-chrome="noborders"
          href="https://twitter.com/{{ site.list_owner_screen_name }}/lists/{{ page.list_slug }}"
          data-widget-id="598799140756320256"
          data-list-owner-screen-name="{{ site.list_owner_screen_name }}"
          data-list-slug="{{ page.list_slug }}">
          <span class="twitter-timeline__name">{{ page.name }}</span>
          <span class="twitter-timeline__loading">Loading tweets…</span>
        </a>
    </div>
    <div class="site-content__people">
        <h2>Politicians tweeting here</h2>
        {% for politician in page.politicians %}
        {% if politician.screen_name %}
          <div class="person">
            <h3>{{ politician.name }}</h3>
            <p><a href="{{ politician.screen_name }}">@{{ politician.screen_name | replace: "@", "" | replace: "http://twitter.com/", "" | replace: "https://twitter.com/", "" }}</a></p>
          </div>
        {% endif %}
        {% endfor %}

        <h2>Other politicians here</h2>

        {% for politician in page.politicians %}
        {% unless politician.screen_name %}
        <form class="person" action="{{ site.submission_url }}" method="post">
            <input type="hidden" name="submission[site_id]" value="{{ site.site_id }}">
            <input type="hidden" name="submission[person_id]" value="{{ politician.id }}">
            <h3>{{ politician.name }}</h3>
            <p>
                <label for="id_username_{{ politician.id }}">Add a Twitter username:</label>
                <span class="input-append">
                    <input id="id_username_{{ politician.id }}" class="form-control" type="text" name="submission[twitter]" placeholder="@username">
                    <button type="submit" class="button">Add</button>
                </span>
            </p>
        </form>
        {% endunless %}
        {% endfor %}
    </div>
</div>
