$color-bluegrey-50: #ECEFF1;
$color-bluegrey-100: #CFD8DC;
$color-bluegrey-200: #B0BEC5;
$color-bluegrey-300: #90A4AE;
$color-bluegrey-400: #78909C;
$color-bluegrey-500: #607D8B;
$color-bluegrey-600: #546E7A;
$color-bluegrey-700: #455A64;
$color-bluegrey-800: #37474F;
$color-bluegrey-900: #263238;

$color-blue-50: #E3F2FD;
$color-blue-100: #BBDEFB;
$color-blue-200: #90CAF9;
$color-blue-300: #64B5F6;
$color-blue-400: #42A5F5;
$color-blue-500: #2196F3;
$color-blue-600: #1E88E5;
$color-blue-700: #1976D2;
$color-blue-800: #1565C0;
$color-blue-900: #0D47A1;

$color-green-50: #E8F5E9;
$color-green-100: #C8E6C9;
$color-green-200: #A5D6A7;
$color-green-300: #81C784;
$color-green-400: #66BB6A;
$color-green-500: #4CAF50;
$color-green-600: #43A047;
$color-green-700: #388E3C;
$color-green-800: #2E7D32;
$color-green-900: #1B5E20;

$color-orange-50: #FFF3E0;
$color-orange-100: #FFE0B2;
$color-orange-200: #FFCC80;
$color-orange-300: #FFB74D;
$color-orange-400: #FFA726;
$color-orange-500: #FF9800;
$color-orange-600: #FB8C00;
$color-orange-700: #F57C00;
$color-orange-800: #EF6C00;
$color-orange-900: #E65100;