@import 'normalize';
@import 'variables';
@import 'mixins';

*,
*:before,
*:after {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

body {
  background-color: $color-bluegrey-50;
  color: $color-bluegrey-900;
  font-family: Lato, Helvetica, Arial, sans-serif;
  font-size: 1.125em; // 18px
  line-height: 1.3em;
}

@import 'layout';
@import 'typography';
@import 'forms';
@import 'components';
